/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo h1 a {
    color: #0066cc;
    text-decoration: none;
    font-size: 1.8em;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
}

.btn-login {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
}

.banner {
    background: url('../images/banner.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.banner h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn-banner {
    background-color: #0066cc;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 25px;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    background-color: #fff;
}

.feature {
    text-align: center;
    flex-basis: 30%;
}

.feature h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.feature p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.feature a {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
}

.why-choose {
    text-align: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
}

.why-choose h2 {
    font-size: 2.2em;
    margin-bottom: 10px;
}

.why-choose p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.why-choose a {
    background-color: #0066cc;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 25px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #0066cc;
    color: #fff;
}
/* Styles pour la date et l'heure */
#welcome-section {
    text-align: center;
    margin-top: 50px;
}

#date-time {
    font-size: 1.2em;
    font-family: 'Arial', sans-serif;
    color: #333;
}

#date, #time {
    margin: 10px 0;
    font-weight: bold;
    color: #007BFF;
}

#date-time p {
    margin: 0;
}
